
<main role="main" class="container">
    <!-- <h1>Chart.JS TsTool Graph Configuration Example</h1>
    <br>
    <button style="margin-left: 3%;" mat-raised-button (click)="openDialog()" >TsTool Graph Example</button>
    <br>
    <br>

    <h6>To replicate this example, click below to download the necessary data:</h6>
    <button style="margin-left: 3%;" mat-raised-button > TODO: DATA</button>
    <br>
    <br>

    <p> Additionally, the demo content for this visualization can be found at Open Water Foundation's <a href="https://github.com/OpenWaterFoundation/owf-app-viz-demo-ng">owf-app-viz-demo-ng</a>
         repository.</p>    -->
<!--         
            <h1>Plotly TsTool Graph Configuration Example</h1>
        
            <p>!Example in Development!</p>
            <button style="margin-left: 3%;" mat-raised-button (click)="openDialog()" >TsTool Graph Example</button> -->
        
        
</main> 