<main role="main" class="container">

    <h1> Angular Vizualization Demo Application</h1>
<p>
    This site is an <a href="https://openwaterfoundation.org/"> Open Water Foundation</a> application
     that tests different visualizations for time series and 
    data in Angular. Specific examples at the moment utilize 
    graphing libraries such as Chart.js and Plotly for  water 
    data visualization.

</p>

<p>These demos are intended to be plugged into various applications, such as OWF's InfoMapper,  in order to support packages and improve functionality over time. </p>
    <p>
    To access the the necessary files for developing and 
    deploying the OWF "Angular Visualization Demos" application,
    refer to the Open Water Foundation's <a href="https://github.com/OpenWaterFoundation/owf-app-viz-demo-ng">owf-app-viz-demo-ng</a>
     repository.</p>   

  
  </main>  
