<main role="main" class="container">

    <h1>Basic HeatMap example</h1>
    <!-- <div id="chart"></div> -->
    <button style="margin-left: 3%;" mat-raised-button (click)="openDialog()"> Basic Heatmap Example</button>
    <br>
    <br>

    <h6>To replicate this example, click below to download the necessary data:</h6>
    <button style="margin-left: 3%;" mat-raised-button > TODO: DATA</button>
    <br>
    <br>

    <p> Additionally, the demo content for this visualization can be found at Open Water Foundation's <a href="https://github.com/OpenWaterFoundation/owf-app-viz-demo-ng">owf-app-viz-demo-ng</a>
         repository.</p>   
</main>

