<p>gapminder works!</p>

<main role="main" class="container">

    <p>gapminder works!</p>
    <showdown src='assets/app-content/content-pages/pagecontent-home.md'></showdown>
     <H3>Gapminder</H3>

    <div id="table">
        <!--Navbar with tabs at top of page-->
	<div class="row" style="width:99%">
		<div class="col-md-offset-2 col-xs-offset-2 col-lg-8 col-sm-8 col-xs-8 tab">
		  <!--openTab wil be called when user clicks on a tab and will display the div/tab content associated with that tab-->
		  <button class="tablinks" onclick="openTab(event, 'Gapminder')" id="defaultOpen">Visualization</button>
		  <button class="tablinks" onclick="openTab(event, 'Documentation')">Documentation</button>
		  <button class="tablinks" onclick="openTab(event, 'Data')">Data</button>
		  <button class="tablinks" onclick="openTab(event, 'Sources')">Sources</button>
		</div>
	</div>

    </div>

 </main> 