<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="angular-visualization-demos" routerLinkActive="active">Angular Visualization Demos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink = "resources" routerLinkActive="active">Resources</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Showdown</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item"routerLink = "showdown/demo-file" routerLinkActive="active" >Showdown in Angular: Demo file</a>
            <a class="dropdown-item" routerLink = "showdown/table-formatting" routerLinkActive="active" (click)= "showdownTableFunction()"> Showdown Table formatting</a>
            <a class="dropdown-item" routerLink = "showdown/img-integration" routerLinkActive="active" (click)= "showdownImgFunction()"> Showdown Image Integration</a>
            <a class="dropdown-item" routerLink = "showdown/options" routerLinkActive="active" (click)= "showdownOptionsFunction()"> Showdown Options</a>

            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ChartJS</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="chartjs/generic-month-line" routerLinkActive="active" (click)= "genericChartjsDemoFunction()">Generic Line Chart</a>
            <a class="dropdown-item" routerLink = "chartjs/snodas-day-line" routerLinkActive="active"  (click)="SnodasChartjsDemoFunction()">SNODAS Line Chart: Daily TS Data</a>
            <a class="dropdown-item"routerLink = "chartjs/tstool-month-line" routerLinkActive="active"  (click)="TSToolConfigChartjsDemoFunction()">TSTool Graph Configuration: Monthly TS Data </a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             >PlotlyJS</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <!-- <a class="dropdown-item" >  Chart Ex: Popup from navigation</a> -->
              <!-- (click)="firstComponentFunction() -->
              <a class="dropdown-item" routerLink = "plotly/generic-month-line" routerLinkActive="active" (click)="genericPlotlyDemoFunction()"> Generic 2D Line Chart: Monthly TS Data</a>
              <a class="dropdown-item" routerLink = "plotly/snodas-day-line" routerLinkActive="active" (click)="SnodasPlotlyDemoFunction()"> SNODAS Line Chart: Daily TS Data</a>
              <a class="dropdown-item"routerLink = "plotly/tstool-month-line" routerLinkActive="active" (click)="TSToolConfigPlotlyDemoFunction()">TSTool Graph Configuration: Monthly Data </a>
              <a class="dropdown-item"routerLink = "plotly/tstool-year-point-line" routerLinkActive="active" (click)="TSToolPointLineFunction()">TSTool Graph Configuration: Point and line graph </a>
              <a class="dropdown-item"routerLink = "plotly/heatmap-generic" routerLinkActive="active" (click)="HeatMapPlotlyDemoFunction()">Basic HeatMap</a>
              <a class="dropdown-item"routerLink = "plotly/heatmap-ts" routerLinkActive="active">HeatMap: CSV Daily Streamflow </a>

              <!-- routerLink = "general-plotly-chart" routerLinkActive="active" -->
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             >Highcharts</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <!-- <a class="dropdown-item" >  Chart Ex: Popup from navigation</a> -->
              <!-- (click)="firstComponentFunction() -->
              <a class="dropdown-item" routerLink = "highcharts/generic" routerLinkActive="active" > Genric Line Chart: Yearly Data</a>
              <a class="dropdown-item" routerLink = "highcharts/snodas-day-line" routerLinkActive="active" > SNODAS Line Chart: Daily TS Data</a>
              <a class="dropdown-item"routerLink = "highcharts/tstool-month-line" routerLinkActive="active" >TSTool Graph Configuration: Monthly Data </a>
              <!-- <a class="dropdown-item"routerLink = "plotly/tstool-year-point-line" routerLinkActive="active" (click)="TSToolPointLineFunction()">TSTool Graph Configuration: Point and line graph </a>
              <a class="dropdown-item"routerLink = "plotly/heatmap-generic" routerLinkActive="active" (click)="HeatMapPlotlyDemoFunction()">Basic HeatMap</a>
              <a class="dropdown-item"routerLink = "plotly/heatmap-ts" routerLinkActive="active">HeatMap: CSV Daily Streamflow </a> -->

              <!-- routerLink = "general-plotly-chart" routerLinkActive="active" -->
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >Dygraphs</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>

            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            >D3</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>
              <a class="nav-link disabled" href="#" style="color: gray;">Disabled</a>
            </div>
          </li>
          
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    
  </nav>

