
 <!-- Simple line chart example -->

<main role="main" class="container">
    <h1> Generic Chart.js Example</h1>
    <!-- <p>general-chartjs works!</p> -->
    <div>
        <div style="display:block">
            <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
            </canvas>
        </div>
    </div>
  </main> 
  <!-- End of simple line chart example -->