/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import 'assets/css/showdown_style00.css';

/* Styling imports for gapminder */
@import "../node_modules/select2/dist/css/select2.min.css"; /* Gapminder Styling all the way */
@import "./app/dialog-content/dialog-gapminder/css/style.css"; 
/* Gapminder Styling  all the way */


/* body {
    padding-top: 80px;
} */

.container {
    padding-top: 80px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.nav-link  {cursor: pointer;}